body
{
background: url(/Bildes/london_tower.jpg);
}

.wrapper
{
background: aqua;
width: 70%;
border: 3px solid rgb(65, 9, 134);
padding: 10px;
margin: auto;
opacity: 0.8;
}
.kaste{
    font-size: 150%;
    padding: 20px;
    margin: auto;
  }
.chataZinas
{
background: rgb(0, 255, 187);
height: 300px;
color: rgb(124, 15, 225);
padding: 5px;
overflow-y: scroll;
}